.container {
    display: flex;
}

.redCircle {
    height: 30px;
    width: 30px;
    background-color: red;
    border-radius: 100%;
    margin: 45px 0px 0px 30px;
}
.greenCircle {
    height: 30px;
    width: 30px;
    background-color: green;
    border-radius: 100%;
    margin: 45px 0px 0px 30px;
}

.redBox {
    height: 80px;
    width: 160px;
    margin: 20px 0px 0px 30px;
    text-align: center;
    background-color: red;
}
.greenBox {
    height: 80px;
    width: 160px;
    margin: 20px 0px 0px 30px;
    text-align: center;
    background-color: green;
}
.redBox p {
    margin: 18px auto;
    font-size: 30px;
}
.greenBox p {
    margin: 18px auto;
    font-size: 30px;
}

.box {
    height: 80px;
    width: 160px;
    margin: 20px 0px 0px 30px;
    border: 1px solid black;
    text-align: center;
}
.box p {
    margin: 18px auto;
    font-size: 30px;
}


